.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  letter-spacing: 0.2em;
  border: 1px solid lightgrey;
  padding: 20px;
  height: 480px;
}

.title {
  font-size: 1.1rem;
}

.description {
  text-align: left;
  letter-spacing: 1px;
}

.button {
  padding: 14px 40px;
  text-transform: uppercase;
  background-color: #222;
  letter-spacing: 0.2em;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #958e8e;
  transition: all 0.3s ease;
}

.button:active {
  transform: scaleY(0.02);
  transition: all 0.3s ease;
}

.image {
  display: block;
  width: 220px;
  height: 230px;
}
