.exercise {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 1px solid #b3b3b3;
  padding: 20px;
  max-width: 250px;
  min-height: 435px;
}

.title {
  color: #1b998b;
  font-size: 21px;
}

.description {
  color: #8b8a8a;
}

.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: #1b998b;
}

.exercise:hover {
  transform: scale(1.05);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.img:hover {
  transform: scale(1.1);
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
